.chat-container {
  padding: 30px;
  color: white;
}

.chat-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.chat-container p {
  color: #aaa;
  margin-bottom: 20px;
}

.suggestions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.suggestions button {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.suggestions button:hover {
  background: linear-gradient(90deg, #5a8dee, #3b6fd8);
  transform: scale(1.03);
  transition: 0.2s;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  background: #0f172a;
  border-radius: 10px;
}

.user-msg {
  text-align: right;
  background: #2563eb;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
}

.bot-msg {
  text-align: left;
  background: #1e293b;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
}

.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  border: none;
}

.input-area button {
  padding: 10px 15px;
  background: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.input-area button:hover {
  transform: scale(1.1);
}